#buttonContainer {
    margin-bottom: 50px;
}

#scores {
width: 300px;
height: 100px;
border: 1px solid black;
box-sizing: border-box;
background-color: yellow;
margin-bottom: 50px;
padding-top: 25px;
}

#playerScore {
    margin-left: 15px;
}

#playerScore,
#playerScorePara {
    display: inline;
}

#playerScorePara {
    margin-right: 50px;
}

#computerScore,
#computerScorePara {
    display: inline;
}

#playRoundMessage {
    margin-top: 15px;
    margin-left: 15px;
}

#playAgain {
    margin-top: 50px;
}


